    <nav class="navbar navbar-expand-lg navbar-dark fixed-top site-navigation main-nav navbar-togglable">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h3>{{ .Site.Params.navigation.brand }}</h3>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link js-scroll-trigger">
                            {{ .Site.Params.navigation.home }}
                        </a>
                    </li>
                    {{ if .Site.Params.process.enable }}
                    <li class="nav-item ">
                        <a href="#process" class="nav-link js-scroll-trigger">
                            {{ .Site.Params.navigation.about }}
                        </a>
                    </li>
                    {{ end }}

                    {{ if .Site.Params.services.enable }}
                    <li class="nav-item ">
                        <a href="#services" class="nav-link js-scroll-trigger">
                            {{ .Site.Params.navigation.service }}
                        </a>
                    </li>
                    {{ end }}

                    {{ if .Site.Params.pricing.enable }}
                    <li class="nav-item ">
                        <a href="#pricing" class="nav-link js-scroll-trigger">
                            {{ .Site.Params.navigation.pricing }}
                        </a>
                    </li>
                    {{ end }}

                    {{ if .Site.Params.projects.enable }}
                    <li class="nav-item ">
                        <a href="#projects-wrap" class="nav-link js-scroll-trigger">
                            {{ .Site.Params.navigation.projects }}
                        </a>
                    </li>
                    {{ end }}

                    {{ if .Site.Params.contact.enable }}
                    <li class="nav-item ">
                        <a href="#contact" class="nav-link">
                            {{ .Site.Params.navigation.contact }}
                        </a>
                    </li>
                    {{ end }}
                </ul>

                <ul class="ml-lg-auto list-unstyled m-0 nav-btn">
                    <li><a href="{{ .Site.Params.navigation.button_url }}" class="btn btn-trans-white btn-circled">{{ .Site.Params.navigation.button }}</a></li>
                </ul>
            </div> <!-- / .navbar-collapse -->
        </div> <!-- / .Container -->
    </nav>