    <!-- Working Process
    ================================================== -->
    <section class="section" id="process">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            {{ with .Site.Params.process.title }}{{ . | markdownify }}{{ end }}
                        </h2>

                        <!-- Subheading -->
                        <p>
                            {{ with .Site.Params.process.description }}{{ . | markdownify }}{{ end }}
                        </p>

                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                {{ range .Site.Params.features.item }}
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="{{ .image }}" alt="" class="img-fluid">

                        <h3>{{ .title }}</h3>
                        <p>{{ .description }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>