    <!-- Web services
    ================================================== -->
    <section class="section" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title mb-2 text-white">
                            {{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}
                        </h2>

                        <!-- Subheading -->
                        <p class="mb-5 text-white">
                            {{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row">
                {{ range .Site.Params.services.item1 }}
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="{{ .icon }}"></i>
                        <h3>{{ .title }}</h3>
                        <p>{{ .description}}</p>
                    </div>
                </div>
                {{ end }}

                {{ range .Site.Params.services.item2 }}
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="{{ .icon }}"></i>
                        <h3>{{ .title }}</h3>
                        <p>{{ .description}}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>